a {
    text-decoration: none;
    color: rgb(135, 165, 245);
}

h5,
a:hover {
    color: rgb(247, 108, 224);
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 10px 0 10px;
}

.nav-group {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.active {
    color: rgb(247, 108, 224);
}

/* main */

main {
    margin-top: 110px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* introduction */

#home {
    height: 130vh;
    padding: 10px;
    background-image: url('../images/intro-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* intro class is also used in about section */

.intro {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    font-size: 24px;
    font-style: italic;
}

/* services */

#services {
    height: 130vh;
    padding: 10px;
    background-image: url('../images/services-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-container {
  position: relative;
}

.carousel {
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 300px;
  height: 260px;
  margin-right: 20px;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  scroll-snap-align: center;
}

.bCarousel-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  scroll-snap-align: center;
}

.service-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}

.service-description {
  font-size: 14px;
  margin-top: 5px;
  overflow-wrap: break-word;
  color: white;
} 

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: gray;
  font-size: 34px;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.prev-button,
.prev-btn {
  left: 10px;
}

.next-button,
.next-btn {
  right: 10px;
}

/* about */

#about {
    height: 130vh;
    padding: 10px;
    background-image: url('../images/about-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* contact */

#contact {
    height: 130vh;
    padding: 10px;
    background-image: url('../images/contact-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-info {
    height: 500px;
    border-radius: 10px;
    padding-left: 100px;
    background-color: #9da0b8;
}

/* login */
#login {
    height: 130vh;
    padding: 10px;
    background-image: url('../images/login-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-form {
    width: 500px;
}
